<section class="portfolio">
    <section class="portfolio__container">
        <h2>{{ 'portfolio.title' | translate }}</h2>
        <nav class="portfolio__container__menu">
            <ul>
                <li class="portfolio__container__menu__li" (click)="openPortfolio('front')">{{ 'portfolio.filters.front' | translate }}</li>
                <li class="portfolio__container__menu__li" (click)="openPortfolio('back')">{{ 'portfolio.filters.back' | translate }}</li>
            </ul>
        </nav>
        <div class="portfolio__container__dados">
             @for(dadoWeb of dadosPortfolio;track dadoWeb.id){
                <div class="portfolio__container__dados__card">
                    <div class="intermed">
                        <div class="intermed-front">
                            <img class="education__container__dados__img" src="{{dadoWeb.img}}" alt="">
                        </div>
                        <div class="intermed-back">
                            <h3>{{ 'portfolio.projectName' | translate }}: {{dadoWeb.name}}</h3>
                            <div class="education__container__dados__card__conteudo">
                                <p>{{ 'portfolio.languagesUsed' | translate }}:</p>
                                <div class="education__container__dados__card__conteudo_lang">
                                    <div class="education__container__dados__card__conteudo_lang__cont" *ngFor="let ling of dadoWeb.languages; let j = index">
                                        <p class="education__container__dados__card__conteudo_lang__cont__p">{{ling}}</p>
                                    </div>
                                </div>
                            </div>
                    </div>                       
                    <div class="education__container__dados__card__footer">
                        <button class="education__container__dados__card__footer__btn">
                            <a href="{{dadoWeb.url_git}}"
                                target="_blank">
                                {{ 'portfolio.actions.githubRepo' | translate }}
                            </a>
                        </button>
                        <button class="education__container__dados__card__footer__btn">
                            <a href="{{dadoWeb.url_web}}" 
                                target="_blank">
                                {{ 'portfolio.actions.viewLive' | translate }}
                            </a>
                        </button>
                    </div>
                </div>
                </div>
            }
        </div>
        <div class="education__container__dados">
            
        </div>
    </section>
</section>
