.container-contato{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 4em;
    padding-bottom: 4em;
}

.container-contato-page{
    width: 100%;
}

.container-contato__texto{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    padding: 4em 0;
    color: #FFD700;
    text-align: justify;
}

.txt_1{
    opacity: 0;
    -webkit-animation: fadeIn 2s ease-in-out 2s forwards;
            animation: fadeIn 2s ease-in-out 2s forwards;
}
.txt_1:nth-child(1){
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}
.txt_1:nth-child(2){
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}
.txt_1:nth-child(3){
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
}
.txt_1:nth-child(4){
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
}
.txt_1:nth-child(5){
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
}
.txt_1:nth-child(6){
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
}
.txt_1:nth-child(7){
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
}

.container-contato__texto__logo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.container-contato__formulario{
    width: 80%;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header-reponsive{
    display: none;
}

p{
    font-family: 'exo italic';
}