<section class="container-contato-page">
    <section class="container-contato">
        <section class="row container-contato__texto">
            <aside class="col-sm-9 container-contato__texto__escrita">
                <p class="txt_1">{{ 'contactPage.intro.p1' | translate }}</p>
                <p class="txt_1">{{ 'contactPage.intro.p2' | translate }}</p>
                <p class="txt_1">{{ 'contactPage.intro.p3' | translate }}</p>
                <p class="txt_1">{{ 'contactPage.intro.p4' | translate }}</p>
                <p class="txt_1">{{ 'contactPage.intro.p5' | translate }}</p>
                <p class="txt_1">{{ 'contactPage.intro.p6' | translate }}</p>
                <p class="txt_1">{{ 'contactPage.intro.p7' | translate }}</p>
            </aside>
            <aside class="col-sm-3 container-contato__texto__logo">
                <img src="../../../assets/imgs/favicon/android-chrome-192x192.png" alt="">
            </aside>
        </section>
        <div class="row container-contato__formulario">
            <div class="col-sm-12">
                <app-contact-form></app-contact-form>
            </div>
        </div>
    </section>

    <app-menu-float></app-menu-float>
    <app-footer></app-footer>
</section>
