<section class="footer">
    <div class="footer__title">Ver um pouco mais sobre mim.</div>
    <div class="footer__icons">
        <a href="https://github.com/Diego-de-Souza" target="_blank"><img src="../../../assets/imgs/homePage/footer/github-icon.png" alt=""></a>
        <a href="https://www.linkedin.com/in/diegodesouza-devweb/" target="_blank"><img src="../../../assets/imgs/homePage/footer/linkedin-icon.png" alt=""></a>
        <a href="https://www.instagram.com/diegodesouza_dev/" target="_blank"><img src="../../../assets/imgs/homePage/footer/instagram-icon.png" alt=""></a>
        <a href="https://www.facebook.com/diegodesouza102" target="_blank"><img src="../../../assets/imgs/homePage/footer/facobok-icon.png" alt=""></a>
    </div>
    <div class="footer__declaration">
        <p>Desenvolvido por Diego de Souza L.</p>
    </div>
    <div class="footer__rodape">
        &copy; CopyRight 2024
    </div>
</section>
