.footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 2em 0 2em 4em;  
}

.footer__title, .footer__declaration, .footer__rodape{
    display: block;
    width: 100%;
    text-align: center; 
}

.footer__title{
    font-size: 2em;
    padding: 2em 0;
    color: #8911BA;
    font-family: 'exo black italic';
}

.footer__declaration{
    padding-top: 3em;
    color: #FFD700;
    font-family: 'exo italic';
}

.footer__rodape{
    padding-bottom: 2em;
    color: #FFD700;
    font-family: 'exo italic';
}

.footer__icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.footer__icons > a > img{
    width: 32px;
    margin: 0 1em;
}