@media screen and (max-width: 480px){
    .certificate-home__content__itens__btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }
}