<div class="articleMini">
    <h2>Minha Jornada</h2>
    <div class="articleMini__description">
        <div class="articleMini__description__ct">
            <div class="articleMini__description__ct__borde">
                <img 
                src="../../../assets/imgs/homePage/about/img1.jpg" 
                alt=""
                class="articleMini__description__ct__borde__img">
            </div>
        </div>
        <div class="articleMini__description_text">
            <p>Estudante de Engenharia da computação na FESA – Faculdade Engenheiro Salvador Arena .– SBC, na qual faz parte de um projeto pessoal de aprendizagem de qualidade para que num futuro próximo, além de ser um excelente profissional, possa transmitir conhecimento aos mais necessitados de forma prática, de fácil compreensão e aplicações que facilitam a vida dos usuários de tecnologia. Para complemento das minhas habilidades constantemente estou cursando bootcamps, cursos online e participando de eventos tecnológicos de linguagem de programação, desenvolvimento de software, desenvolvimento web e desenvolvimento mobile.</p>
            <p>Tendo conhecimento como desenvolvedor de websites, criando layouts responsivos para diferentes plataformas de visualização, desenvolvimento de aplicativos com linguagens orientada a objeto, metodologias ágeis e desenvolvimento de projeto em equipes. Concluindo, apaixonado por tecnologia, dinâmico, comprometido, com bom relacionamento intrapessoal e sempre buscando atualizar seus conhecimentos.</p>
        </div>
    </div>
</div>
