<div class="articleMini">
    <h2>{{titleAbout}}</h2>
    <div class="articleMini__description">
        <div class="articleMini__description__ct">
            <div class="articleMini__description__ct__borde">
                <img 
                src="{{urlImagem}}" 
                alt=""
                class="articleMini__description__ct__borde__img" [ngStyle]="{'width': largura, 'height': altura, 'opacity': opacidade}">
            </div>
        </div>
        <div class="articleMini__description_text" [innerHTML]="texto">
        </div>
    </div>
</div>
