.contactForm{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80vh;
  border: 2px solid #00ff00;
  border-radius: 8px; 
  font-family: 'exo italic';
}

.contactForm:hover{
  -webkit-box-shadow: 0px 0px 10px #FD008B;
          box-shadow: 0px 0px 10px #FD008B;
  -webkit-transition: -webkit-box-shadow 0.5s ease-in-out 0.5s;
  transition: -webkit-box-shadow 0.5s ease-in-out 0.5s;
  -o-transition: box-shadow 0.5s ease-in-out 0.5s;
  transition: box-shadow 0.5s ease-in-out 0.5s;
  transition: box-shadow 0.5s ease-in-out 0.5s, -webkit-box-shadow 0.5s ease-in-out 0.5s;
}

.contactForm__content{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 5em;
  width: 90%;
}

label {
  color: #FFD700;
}

.contactForm__content__input{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack:center ;
      -ms-flex-pack:center ;
          justify-content:center ;
}

.contactForm__content__input__icon{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
  border-right: none;
  border-radius: 4px 0 0  4px;
  height: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #00ff00;
  color: #00ff00;
}

input, select {
  height: 2em;
  border-radius: 0 4px 4px 0;
  padding-left: 0.5em;
  border: 2px solid #00ff00;
}

textarea {
  height: 6em;
  border-radius: 0 4px 4px 0;
  padding-left: 0.5em;
}

.contactForm__content__input__icon__texteArea {
  height: 6em;
  border-radius: 4px 0 0  4px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched,
select.ng-invalid.ng-touched,
.contactForm__content.invalid i {
  border-color: red;
  background-color: rgb(232, 120, 120);
  color: #fff;
}

input.ng-invalid.ng-touched::-webkit-input-placeholder, textarea.ng-invalid.ng-touched::-webkit-input-placeholder, select.ng-invalid.ng-touched::-webkit-input-placeholder{
  color: #fff;
}

input.ng-invalid.ng-touched::-moz-placeholder, textarea.ng-invalid.ng-touched::-moz-placeholder, select.ng-invalid.ng-touched::-moz-placeholder{
  color: #fff;
}

input.ng-invalid.ng-touched:-ms-input-placeholder, textarea.ng-invalid.ng-touched:-ms-input-placeholder, select.ng-invalid.ng-touched:-ms-input-placeholder{
  color: #fff;
}

input.ng-invalid.ng-touched::-ms-input-placeholder, textarea.ng-invalid.ng-touched::-ms-input-placeholder, select.ng-invalid.ng-touched::-ms-input-placeholder{
  color: #fff;
}

input.ng-invalid.ng-touched::placeholder,
textarea.ng-invalid.ng-touched::placeholder,
select.ng-invalid.ng-touched::placeholder{
  color: #fff;
}

input.ng-valid.ng-touched,
textarea.ng-valid.ng-touched,
select.ng-valid.ng-touched {
  border-color: #00ff00;
}

small {
  color: red;
}

.contactForm__content__btn{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  margin-top: 4em ;
  padding: 0.5em 0;
  border: 2px solid #00ff00;
  color: #00ff00;
  background-color: transparent;
}

.contactForm__content__btn:hover {
  background-color: #00ff00;
  color: black;
  -webkit-transition: all 1s ease-in-out ;
  -o-transition: all 1s ease-in-out ;
  transition: all 1s ease-in-out ;
  -webkit-box-shadow: 0px 0px 6px #8911BA;
          box-shadow: 0px 0px 6px #8911BA;
}