<section id="slide-abertura">
    <div class="row m-0">
        <div class="col-sm-8 col-md-8 col-xxl-8 slide-abertura__tex">
            <div class="slide-abertura__tex__text frame1">
                <p class="text_slide1">A única maneira de fazer algo excelente</p>
                <p class="text_slide1">é amar o que você faz. Se você ainda não a encontrou, </p>
                <p class="text_slide1">continue procurando. Não se acomode.</p>
                <p class="quote">Steve Jobs</p>
            </div>
            <div class="slide-abertura__tex__text frame2">
                <p>Olá, eu sou</p>
                <p class="text-dev">&#60; Diego - Dev</p>
                <p>Desenvolvedor Fullstack</p>
            </div>
            <div class="slide-abertura__tex__text frame3">
                <p>"A mente que se abre</p>
                <p> a uma nova ideia jamais voltará ao seu  </p>
                <p>tamanho original"</p>
                <p class="quote">Albert Einstein</p>
            </div>
            <div class="slide-abertura__tex__text frame4">
                <p>Olá, eu sou</p>
                <p class="text-dev">&#60; Diego - Dev</p>
                <p>Desenvolvedor Fullstack</p>
            </div>
            <app-rotating-logo></app-rotating-logo>
        </div>
        <div class="col-sm-4 col-md-4 col-xxl-4 p-0 row-container">
            <img alt="Imagem do Diego - dev, desenvolvedor fullstack"
                src="../../../assets/imgs/homePage/banner/WhatsApp-Image-2024-07-09-at-15.55.37-removebg-preview.png"
                class="col-md-12 row-imagem"/>
        </div>
        
    </div>

</section>