#slide-abertura{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #171b26;
    width: 100% !important;
    height: 100vh;
    color: #d9c49c;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#171b26ac), color-stop(50%, #171b2620), to(#171b26)),
    url(../../../assets/imgs/homePage/banner/pexels-pixabay-33334.jpg);
    background-image: -o-linear-gradient(top, #171b26ac 0%, #171b2620 50%, #171b26 100%),
    url(../../../assets/imgs/homePage/banner/pexels-pixabay-33334.jpg);
    background-image: linear-gradient(to bottom, #171b26ac 0%, #171b2620 50%, #171b26 100%),
    url(../../../assets/imgs/homePage/banner/pexels-pixabay-33334.jpg);
    background-position: 50% 50%;
    background-size: cover;
    font-family: 'Abril Fatface';
}

.row{
    width: 100%;
    padding: 3em 0px 0em 0px;
}

.slide-abertura__tex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 80vh;
    top: 10%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    z-index: 1000;
}

.quote{
    font-size: 0.8em;
}
.slide-abertura__tex__text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
    color: transparent;
    top: 20px;
    position: absolute;
    -webkit-animation: blurFadeInOut 24s ease-in-out infinite;
    animation: blurFadeInOut 24s ease-in-out infinite;
}

.text-dev{
    font-size: 8em;
} 
.slide-abertura__tex__text.frame1{
    -webkit-animation-delay: 1ms;
    animation-delay: 1ms;
}
.slide-abertura__tex__text.frame2{
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
}
.slide-abertura__tex__text.frame3{
    -webkit-animation-delay: 12s;
    animation-delay: 12s;
}
.slide-abertura__tex__text.frame4{
    -webkit-animation-delay: 18s;
    animation-delay: 18s;
}

p{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 2em;
}

.row-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 80vh;

    .row-imagem{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 80vh;
        width: 40%;
        -webkit-animation: esmaecer 6s linear 1;
                animation: esmaecer 6s linear 1;

        @-webkit-keyframes esmaecer {
            from{
                opacity: 0%;
            }
            to{
                opacity: 100%;
            }
        }

        @keyframes esmaecer {
            from{
                opacity: 0%;
            }
            to{
                opacity: 100%;
            }
        }
    }
}


@-webkit-keyframes blurFadeInOut {
    0%, 25% {
        opacity: 0;
        text-shadow: 0px 0px 40px #d9c49c;
        -webkit-transform: scale(1.3);
    }
    30%, 45% {
        opacity: 1;
        text-shadow: 0px 0px 1px #d9c49c;
        -webkit-transform: scale(1);
    }
    50%, 100% {
        opacity: 0;
        text-shadow: 0px 0px 50px #d9c49c;
        -webkit-transform: scale(0);
    }
}