<section class="menu-float">
    <menu class="menu-float__menu">
        <ul class="menu-float__menu__ul">
            <li class="menu-float__menu__ul__li">
                <p>Minha Jornada</p>
                <i class="fa-regular fa-address-card"></i>
            </li>
            <li class="menu-float__menu__ul__li">
                <p>Skills</p>
                <i class="fa-regular fa-lightbulb"></i>
            </li>
            <li class="menu-float__menu__ul__li">
                <p>Certificate</p>
                <i class="fa-regular fa-newspaper"></i>
            </li>
            <li class="menu-float__menu__ul__li">
                <p>Portfolio</p>
                <i class="fa-regular fa-folder"></i>
            </li>
        </ul>
    </menu>
</section>
