<section id="container-home">
    <app-header></app-header>
    <section class="body_home">
        <app-slide class="col-sm-12 col-md-12 col-xxl-12"></app-slide>
        <app-about id="about"></app-about>
        <app-skills id="skill"></app-skills>
        <app-education id="education"></app-education>
        <app-portfolio id="portfolio"></app-portfolio>
        <app-certificates id="certificate"></app-certificates>
    </section>
    <app-menu-float></app-menu-float>
    <app-footer></app-footer>
</section>


