@media screen and (max-width: 768px){
    .header-dekstop{
        display: none;
    }

    .header-reponsive{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .body_home{
        margin-left: 0px;
        margin-top: 4em;
    }
}