#container-home{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.body_home{
    display: flex;
    flex-direction: column;
    margin-left: 4em;
}

.header-reponsive{
    display: none;
}