@media screen and (max-width: 768px){
    p{
        font-size: 1.2em;
    }
}

@media screen and (max-width: 480px) {
    p {
        font-size: 0.8em;
        margin: 0.8em 0 0 0.8em;
    }

    h3 {
        font-size: 1em;
        text-align: center;
        margin: 1em 0;
    }

    .skills__myskills__desc__left__icons {
        margin: 0px 2em 2em 0px;
    }

    .skills__myskills__desc__right__icons {
        margin: 0px 0px 2em 2em;
    }

    .entradaAAparecer {
        -webkit-animation: aparecer 3s ease-out;
                animation: aparecer 3s ease-out;
    }

    /* Movimento de animação de elementos à esquerda */
    .skills__myskills__desc__left__icons:nth-child(1) {
        -webkit-animation-delay: 0s;
                animation-delay: 0s;
    }
    .skills__myskills__desc__left__icons:nth-child(2) {
        -webkit-animation-delay: 0.4s;
                animation-delay: 0.4s;
    }
    .skills__myskills__desc__left__icons:nth-child(3) {
        -webkit-animation-delay: 0.8s;
                animation-delay: 0.8s;
    }
    .skills__myskills__desc__left__icons:nth-child(4) {
        -webkit-animation-delay: 1s;
                animation-delay: 1s;
    }
    .skills__myskills__desc__left__icons:nth-child(5) {
        -webkit-animation-delay: 1.3s;
                animation-delay: 1.3s;
    }
    .skills__myskills__desc__left__icons:nth-child(6) {
        -webkit-animation-delay: 1.5s;
                animation-delay: 1.5s;
    }
    .skills__myskills__desc__left__icons:nth-child(7) {
        -webkit-animation-delay: 2s;
                animation-delay: 2s;
    }
    .skills__myskills__desc__left__icons:nth-child(8) {
        -webkit-animation-delay: 2.5s;
                animation-delay: 2.5s;
    }
    .skills__myskills__desc__left__icons:nth-child(9) {
        -webkit-animation-delay: 3s;
                animation-delay: 3s;
    }

    /* Movimento de animação para elementos à direita */
    .skills__myskills__desc__right__icons:nth-child(1) {
        -webkit-animation-delay: 0s;
                animation-delay: 0s;
    }
    .skills__myskills__desc__right__icons:nth-child(2) {
        -webkit-animation-delay: 0.4s;
                animation-delay: 0.4s;
    }
    .skills__myskills__desc__right__icons:nth-child(3) {
        -webkit-animation-delay: 0.8s;
                animation-delay: 0.8s;
    }
    .skills__myskills__desc__right__icons:nth-child(4) {
        -webkit-animation-delay: 1s;
                animation-delay: 1s;
    }
    .skills__myskills__desc__right__icons:nth-child(5) {
        -webkit-animation-delay: 1.3s;
                animation-delay: 1.3s;
    }
    .skills__myskills__desc__right__icons:nth-child(6) {
        -webkit-animation-delay: 1.5s;
                animation-delay: 1.5s;
    }
    .skills__myskills__desc__right__icons:nth-child(7) {
        -webkit-animation-delay: 2s;
                animation-delay: 2s;
    }
    .skills__myskills__desc__right__icons:nth-child(8) {
        -webkit-animation-delay: 2.5s;
                animation-delay: 2.5s;
    }
    .skills__myskills__desc__right__icons:nth-child(9) {
        -webkit-animation-delay: 3s;
                animation-delay: 3s;
    }

    @-webkit-keyframes aparecer {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes aparecer {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

@media screen and (max-width: 400px){
    p {
        font-size: 0.6em;
        margin: 0.3em 0 0 0.3em;
    }
}