.rotatingLogo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-animation: deslocar 4s linear 1;
            animation: deslocar 4s linear 1;
    right: 40%;    
    top: 35%;
}

.rotatingLogo__img{
    -webkit-animation: girar 20s linear 1;
            animation: girar 20s linear 1;
    -webkit-transition: ease;
    -o-transition: ease;
    transition: ease;
}

@-webkit-keyframes deslocar{
    0%{right: 0%; }
    25%{right: 15%;}
    50%{right: 20%;}
    75%{right: 40%;}
    100%{right: 45%;}
}

@keyframes deslocar{
    0%{right: 0%; }
    25%{right: 15%;}
    50%{right: 20%;}
    75%{right: 40%;}
    100%{right: 45%;}
}

@-webkit-keyframes girar{
    0%{-webkit-transform: rotateZ(360deg);transform: rotateZ(360deg);}
    25%{-webkit-transform: rotateZ(170deg);transform: rotateZ(170deg);}
    50%{-webkit-transform: rotateZ(180deg);transform: rotateZ(180deg);}
    75%{-webkit-transform: rotateZ(90deg);transform: rotateZ(90deg);}
    100%{-webkit-transform: rotateZ(0deg);transform: rotateZ(0deg);}
}

@keyframes girar{
    0%{-webkit-transform: rotateZ(360deg);transform: rotateZ(360deg);}
    25%{-webkit-transform: rotateZ(170deg);transform: rotateZ(170deg);}
    50%{-webkit-transform: rotateZ(180deg);transform: rotateZ(180deg);}
    75%{-webkit-transform: rotateZ(90deg);transform: rotateZ(90deg);}
    100%{-webkit-transform: rotateZ(0deg);transform: rotateZ(0deg);}
}