
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$diego-dev-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($diego-dev-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($diego-dev-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($diego-dev-theme);
/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '../node_modules/bootstrap/scss/bootstrap';

@import "@fortawesome/fontawesome-free/css/all.css"; // Importar todos os ícones

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #171b26;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


body::-webkit-scrollbar {
  width: 16px; 
}

body::-webkit-scrollbar-track {
  background: #171b26;  
  border: 1px solid #00ff00; 
}

body::-webkit-scrollbar-thumb {
  background-color: #FFD700;
  border-radius: 20px; 
}

@font-face {
  font-family: 'Abril Fatface';
  src: url('/assets/fonts/abrilFatFace/AbrilFatface-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'exo regular';
  src: url('/assets/fonts/exo/Exo-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'exo black';
  src: url('/assets/fonts/exo/Exo-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'exo black italic';
  src: url('/assets/fonts/exo/Exo-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'exo italic';
  src: url('/assets/fonts/exo/Exo-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'exo bold italic';
  src: url('/assets/fonts/exo/Exo-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'exo bold';
  src: url('/assets/fonts/exo/Exo-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
