.filletC{
    display: flex;
    background-color: #23FF00;
    width: 100%;
    height: 4em;
    align-items: center;
    padding-left: 2em;

    .filletC__circle{
        display: flex;
        width: 38px;
        height: 38px;
        background-color: #8911BA;
        border-radius: 50%;
        align-items: center;
        justify-content: center;

        .filletC_circle__img{
            display: flex;
            width: 32px;
            height: 32px;
        }
    }
}